<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wd.tech">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".weight.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.PayVipActivity"></activity>
        <activity android:name=".view.activity.PayIntegralActivity" />
        <activity android:name=".view.activity.shequ.CommUserActivity" />
        <activity android:name=".view.activity.shequ.WritePostActivity" />
        <activity android:name=".view.activity.shequ.WriteFilmActivity" />
        <activity android:name=".view.activity.my.SheActivity" />
        <activity android:name=".view.activity.ChannelActivity" />
        <activity android:name=".view.activity.FindPlateActivity" />
        <activity android:name=".view.activity.DetailActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".arc.LivenessActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.SearchListActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" /> <!-- 支付宝H5页面支付用的 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            tools:replace="android:configChanges"></activity> <!-- 支付宝App支付页面用的 -->
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
    </application>

</manifest>